﻿@model DataAccess.Model.Book
@{
    ViewBag.Title = "Create";
}

<h2>Nova kniha</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Add", "Books", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>Nazev knihy</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label>Autor</label>
        @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Author)
    </div>
    <div class="form-group">
        <label>Rok vydani</label>
        @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PublishedYear)
    </div>
    <div class="form-group">
        <label>Popis</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control formatedtext" })
    </div>
    <div class="form-group">
        <label>Obrazek</label>
        <input type="file" name="picture" />
    </div>
    <button type="submit" class="btn btn-primary">Vytvorit knihu</button>
}

<script src="~/Scripts/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({ selector: '.formatedtext' });</script>