﻿@using DataAccess.Model
@model Book
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>Autor: @Model.Author</p>
<p>Nazev knihy: @Model.Name</p>
<p>Rok vydani: @Model.PublishedYear</p>

@Html.Raw(Model.Description)

@if (ViewBag.ZobrazPopis != null && ViewBag.ZobrazPopis)
{
    <p>
        Blizsi popis knihy................
    </p>

}

@section Sidebar
{
    <h4>Chcete knihu @Model.Name s 10% slevou? Objednejte nyni!!</h4>
}